* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.d-flex {
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

/* #region header */

#app-header {
    background-color: rgb(255, 94, 0);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

#navbar {
    width: 85%;
    color: white;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

ul {
    list-style: none;
    gap: 1rem;
}

#logo img{
    max-width: 30%;
    max-height: 30%;
}



/* #endregion header */

/* #region main */

/* .debug .container {
    background-color: green;
}

.debug .product {
    height: 400px;
    background-color: teal;
} */

.container {
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.product {
    width: 25%;
    font-size: small;
}

.imageproduct {
    position: relative;
}

.imageproduct img{
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}

.price {
    color: rgb(255, 0, 0);
    font-weight: 200;
}

.sale {
    text-decoration: line-through;
    color: black;
}

/* .description {
    position: relative;
} */

.discount {
    position: absolute;
    bottom: 50px;
    padding: 5px;
    font-size: smaller;
    color: white;
    left: 0px;
    background-color: red;
}

.sustainability {
    position: absolute;
    background-color: rgb(23, 150, 23);
    color: white;
    bottom: 50px;
    left: 40px;
    font-size: smaller;
    padding: 5px;
}

.lzero {
    left: 0px;
}

.like {
    background-color: white;
    color: black;
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 5px;
    font-size: x-large;
}

.like:hover {
    color: red
}

.image1:hover {

}

/* #endregion main */

/* #region footer */

#app-footer {
    background-color: rgba(41, 40, 40, 0.986);
}

#infobar {
    font-size: smaller;
    width: 85%;
    margin: auto;
    padding: 1rem 0;
    color: rgba(255, 255, 255, 0.507);
    justify-content: space-between;
}

#legal {
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* #endregion footer */